html, body {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    background-image: url('../pictures/fon.jpeg');
}

.logo {
  width: 20%;
  height: 50px;
  text-align: center;
  background-color: #001752;
  border-radius: 7px;
  box-shadow:4px 4px 15px rgba(0, 0, 0, 0.2);
}
.logo h1 {
  margin: 0 auto;
  color:#ffff;
  font-family: Andale Mono, monospace;
  font-size: 30px
}
.menu {
  background-image: url('../pictures/mountains.jpeg');
  width: 20%;
  height: 100%;
  border-radius: 7px;
  position: relative;
  margin: 0;
  box-shadow:4px 4px 15px rgba(0, 0, 0, 0.2);
  font-weight: bold;
}
.nav {
  margin-left: 15px;
  margin-top: 0;
}
li {
  margin-bottom: 4em;
  font-size: 26px;
  display: block;
}

a {
  text-decoration: none;
  color: #000000;
}
a:hover{
  border-radius: 10px black;
  height: 15px;
}

.registration-cssave{
  padding: 8% 20% 8% 20%; /* установка положения в центре нашей рабочей области */
  position: absolute;
  text-align: center;
  width: 30%;
  bottom: 19%;
  left: 25%;
}

.registration-cssave form {
  max-width:800px;
  padding:50px 70px;
  border-radius: 10px;
  box-shadow:4px 4px 15px rgba(0, 0, 0, 0.2);
  background-color:#d1d1d1;
  border: 1px solid black;
}

.registration-cssave form h3 {
  font-weight:bold;
  margin-bottom:30px;
}

.registration-cssave .item {
  border-radius:10px;
  margin-bottom:25px;
  padding:10px 20px;
}

.registration-cssave .create-account {
  border-radius:30px;
  padding:10px 20px;
  font-size:18px;
  font-weight:bold;
  background-color:#001752;
  border:none;
  color:white;
  margin-top:20px;
}
.bottom_footer {
    background-color: #0f264b;
    color: #ffff;
    position: static;
    width: 100%;
    height: 199px;
    z-index: 1;
}

.wave_footer img {
    overflow: hide;
    bottom: 14%;
    width: 100%;
    position: absolute;
}
footer h2, h4 {
    position: absolute;
    font-family: sans-serif;
}
.button_place {
  position: absolute;
  border: 1px solid black;
  bottom: 19%;
  left: 25%;
  width: 70%;
  height: 80%;
}
.button {
    background-color:#001752;
    color: white;
    font-weight:bold;
    border-radius: 10px;
    font-size:18px;
    box-shadow:4px 4px 15px rgba(0, 0.6, 0.6, 0.6);
}


