html, body {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    background-image: url('../pictures/fon.jpeg');
}

.logo {
  width: 20%;
  height: 50px;
  text-align: center;
  background-color: #001752;
  border-radius: 7px;
  box-shadow:4px 4px 15px rgba(0, 0, 0, 0.2);
}
.logo h1 {
  margin: 0 auto;
  color:#ffff;
  font-family: Andale Mono, monospace;
  font-size: 30px
}
.menu {
  background-image: url('../pictures/tropic.gif');
  width: 20%;
  height: 630px;
  border-radius: 7px;
  position: relative;
  margin: 0;
  box-shadow:4px 4px 15px rgba(0, 0, 0, 0.2);
  font-weight: bold;
}
.nav {
  margin-top: 0;
}
li {
  margin-bottom: 4em;
  font-size: 26px;
  display: block;
  width: 90%;
}

a {
  text-decoration: none;
  color: #ffff;
}
.a-btn:active{
     transform: scale(1.2);
 }

.base_body {
    position: absolute;
    border-radius: 10px;
    top: 2%;
    left: 25%;
    width: 70%;
    height: 670px;
    text-align: center;
    background-color: #e1fcf2;
}

.registration-cssave form {
    position: relative;
    width: 200px;
    height: 400px;
    padding:50px 70px;
    border-radius: 10px;
    box-shadow:4px 4px 15px rgba(0, 0, 0, 0.2);
    background-color: #d1d1d1;
    border: 1px solid black;
}

.registration-cssave form h3 {
  font-weight:bold;
  margin-bottom:30px;
}

.registration-cssave .item {
  border-radius:10px;
  margin-bottom:25px;
  padding:10px 20px;
}

.registration-cssave .create-account {
  border-radius:30px;
  padding:10px 20px;
  font-size:18px;
  font-weight:bold;
  background-color:#001752;
  border:none;
  color:white;
  margin-top:20px;
}
.bottom_footer {
    background-color:#001752;
    color: #ffff;
    position: static;
    width: 100%;
    height: 180px;
}

footer h2 {
    text-align: center;
}
footer p {
    position: relative;
    bottom: 19%;
    margin-left: 90%;
}
.button_place {
  position: relative;
  width: 70%;
  height: 80%;
  margin: auto;
  justify-content: center;
  white-space: normal;
}

hr {
    width: 85%;
    box-shadow: 3px 4px 3px black;
}
.footer li {
    display: inline;
    margin-bottom: 3px;
}
.footer a{
    color: white;
}
.a-table{
    color: black;
    font-size:19px;
}
.chart{
    color: black;
    font-size:19px;
}
table{
    margin: 10px;
}