html, body {
  height: 100%;
  width: 100%;
  background-color: #f3ecec;
}

.logo {
  width: 30%;
  height: 50px;
  text-align: center;
  background-color: #001752;
  border-radius: 7px;
}
.logo h1 {
  margin: 0 auto;
  color:#ffff;
  font-family: Andale Mono, monospace;
  font-size: 24px
}
.menu {
  background-image: url('../pictures/mountains.jpeg');
  width: 30%;
  height: 100%;
  border-radius: 7px;
  position: absolute;
}
.nav {
  margin-left: 15px;
  margin-top: 0;
}
li {
  margin-bottom: 4em;
  font-size: 26px;
  display: block;
}

a {
  text-decoration: none;
  color: #000000;
}
a:hover{
  border-radius: 10px black;
  height: 15px;
}

.registration-cssave{
  padding: 0 10% 10% 45%;
  position: relative;
  text-align: center;
  max-width: 576px;
}

.registration-cssave form {
  max-width:800px;
  padding:50px 70px;
  border-radius:10px;
  box-shadow:4px 4px 15px rgba(0, 0, 0, 0.2);
  background-color:#fff;
}

.registration-cssave form h3 {
  font-weight:bold;
  margin-bottom:30px;
}

.registration-cssave .item {
  border-radius:10px;
  margin-bottom:25px;
  padding:10px 20px;
}

.registration-cssave .create-account {
  border-radius:30px;
  padding:10px 20px;
  font-size:18px;
  font-weight:bold;
  background-color:#3f93ff;
  border:none;
  color:white;
  margin-top:20px;
}
footer {
    background-color: black;
    color: #ffff;
    padding-bottom: 20px;
    position: relative;
    bottom: 0;
}
footer h2 {
    text-align: center;
    font-family: sans-serif;
}

