<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{ title }}</title>
    <link href="../static/css/style.css" rel="stylesheet">
</head>
<body>
<main>

    {% block main_content %}
    {% endblock %}

    {% block dataentry_block %}
    {% endblock %}
</main>
</body>
<footer>
    <h2> Обратная связь </h2>
    <br>
    <ul>
        <li> <h4> Example@gmail.com </h4> </li>
    </ul>
</footer>

</html>