<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{ title }} </title>
    <link href="../static/css/style.css" rel="stylesheet">
</head>
<body>
<main>
    <div class = 'tmain'>
        <div class = 'logo'>
            <h1> БУМ </h1>
        </div>
        <div class = 'menu'>
          <ul class = 'nav'>
            <li class="a-btn"><a href = '/home'> Главная страница </a></li>
            <li class="a-btn"><a href = '/data_entry' > Внести данные </a></li>
            <li class="a-btn"><a href = '/charts'> Графики </a></li>
            <li class="a-btn"><a href = '/control'> Управление </a></li>
            <li class="a-btn"><a href = '/lim'> Внести пределы </a></li>
          </ul>
        </div>
    </div>
    <div class = 'base_body'>
        {% block dataentry_block %}
        {% endblock %}
        {% block control_block %}
        {% endblock %}
        {% block charts_block %}
        {% endblock %}
    </div>
</main>
</body>
<footer>
    <div class = 'bottom_footer'>
        <h2> О нас </h2>
        <hr>
        <ul class = 'footer'>
            <li> <h4> Государственное бюджетное общеобразовательное учреждение
«Протон» </h4> </li>
            <li> <a href = 'https://github.com/KEYBODY65/DreamTeam.git'> GitHub </a></li>
        </ul>
        <p> Москва 2023 </p>
    </div>
</footer>
</html>