{% extends 'base.html' %}
{% block charts_block %}
<div class="button-tw">
    <input  type="button" onclick="table{{values, values2, values3, label}}" value="График" class="chart">
    <button class="table"><a href="/tables" class="a-table">Таблица</a></button>

</div>
<div>
        <canvas id="myChart"></canvas>
      </div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const data_count = {{ lenth }};
    const label = [];
    for (let i = 0; i < data_count; ++i) {
    label.push(i.toString());
    }
    labels = label.slice(-25)

    function table(data, data1, data2){
        const ctx = document.getElementById('myChart').getContext('2d');
        let myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: 'Температура теплицы',
                data: data.slice(-25)
            },{
              label: 'Влажность теплицы',
               data: data1.slice(-25)
            },{
              label: 'Влажность почвы',
              data: data2.slice(-25)
            }]
        },
        options: {
            plugins: {
            title: {
                display: true,
                text: 'График изменения данных'
            },
            }
        }
        });
    }
</script>
{% endblock %}


