{% extends 'base.html' %}
{% block charts_block %}
<input  type="button" onclick="table([0, 20, 20, 60, 60])" value="Click">
<div>
        <canvas id="myChart"></canvas>
      </div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const data_count = 25;
    const labels = [];
    for (let i = 0; i < data_count; ++i) {
    labels.push(i.toString());
    }

    function table(data, data1, data2){
        const ctx = document.getElementById('myChart').getContext('2d');
        let myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: 'Влажность теплицы',
                data: data
            },{
              label: 'Температура теплицы',
               data: data1
            },{
              label: 'Влажность почвы',
              data: data2
            }]
        },
        options: {
            plugins: {
            title: {
                display: true,
                text: 'График изменения данных'
            },
            }
        }
        });
    }
</script>{% endblock %}


