{% extends 'base.html' %}
{% block control_block %}
<div class = 'button_place'>
    <div class="form-group">
            <button class="button" type="submit">Открыть дверь</button>
        </div>
    <div class="form-group">
            <button class="button" type="submit">Закрыть дверь</button>
        </div>
    <div class="form-group">
            <button class="button" type="submit">Включить увлажнение</button>
        </div>
    <div class="form-group">
            <button class="button" type="submit">Выключить увлажнение</button>
        </div>
    <div class="form-group">
            <input class="form-control item" type="number" name="idi_of_wtringa" minlength="1" id="idi_of_wtringa" placeholder="Номер бороздки" required>
            <button class="button" type="submit">Включить полив бороздки</button>
        </div>
    <div class="form-group">
            <button class="button" type="submit">Выключить полив</button>
        </div>
    <div class="form-group">
            <button class="button" type="submit">Включить полив всех бороздок</button>
        </div>
    <div class="form-group">
            <button class="button" type="submit">Выключить полив всех бороздок</button>
        </div>
    </div>
{% endblock %}
