{% extends 'base.html' %}
{% block dataentry_block %}
<div class="registration-cssave">
    <ul class="data_entry">
        <li>
            <form method="post">
        <h3 class="text-center"> Ручное внесение данных</h3>
        <div class="form-group">
            <input class="form-control item" type="number" name="id_sensor" minlength="6" id="id_sensor" placeholder="Номер датчика" required>
        </div>
        <div class="form-group">
            <input class="form-control item" type="number" name="temperature" maxlength="4" minlength="4" pattern="^[a-zA-Z0-9_.-]*$" id="temperature" placeholder="Температрура" required>
        </div>
        <div class="form-group">
            <input class="form-control item" type="number" name="humidification" minlength="6" id="humidification" placeholder="Влажность" required>
        </div>
        <div class="form-group">
            <input class="form-control item" type="number" name="humidification" minlength="6" id="humidificationground" placeholder="Влажность почвы" required>
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-block create-account" type="submit">Внести данные</button>
        </div>
    </form>
        </li>
        <li>
            <form method="post">
                <div class="form-group">
                    <input class="form-control item" type="number" name="temp in tepl" minlength="6" id="<Температура в теплице" placeholder="Температура в теплице:" required>
                </div>
                <div class="form-group">
                    <input class="form-control item" type="number" name="humidification in tepl" minlength="6" id="H" placeholder="Влажность в теплице" required>
                </div>
                <div class="form-group">
                    <input class="form-control item" type="number" name="humidification in tepl" minlength="6" id="H" placeholder="Влажность почвы в теплице" required>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block create-account" type="submit"> Указать </button>
                </div>
            </form>
        </li>
    </ul>

</div>
{% endblock %}
