<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="registration-cssave">
    <form>
        <h3 class="text-center"> Ручное внесение данных </h3>
        <div class="form-group">
            <input class="form-control item" type="number" name="Номер датчика" minlength="6" id="Номер датчика" placeholder="Номер датчика" required>
        </div>
        <div class="form-group">
            <input class="form-control item" type="number" name="Температура" maxlength="4" minlength="4" pattern="^[a-zA-Z0-9_.-]*$" id="username" placeholder="Температрура" required>
        </div>
        <div class="form-group">
            <input class="form-control item" type="number" name="Влажность" minlength="6" id="text" placeholder="Влажность" required>
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-block create-account" type="submit">Внести данные</button>
        </div>
    </form>
</div>
</body>
</html>
