{% extends 'base.html' %}
{% block dataentry_block %}
<div class="registration-cssave">
    <form method="post">
    <h3 class="text-center"> Внесение данных</h3>
    <div class="form-group">
        <input class="form-control item" type="number" name="idi" minlength="6" id="idi" placeholder="Номер датчика" required>
    </div>
    <div class="form-group">
        <input class="form-control item" type="number" name="temperature" maxlength="4" minlength="4" pattern="^[a-zA-Z0-9_.-]*$" id="temperature" placeholder="Температрура" required>
    </div>
    <div class="form-group">
        <input class="form-control item" type="number" name="humidification" minlength="6" id="humidification" placeholder="Влажность" required>
    </div>
    <div class="form-group">
        <input class="form-control item" type="number" name="humidificationground" minlength="6" id="humidificationground" placeholder="Влажность почвы" required>
    </div>
    <div class="form-group">
        <button class="btn btn-primary btn-block create-account" type="submit">Внести данные</button>
    </div>
    </form>
</div>
{% endblock %}
