<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Главная страница</title>
  <link href="style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
  <header>
    <ul class = 'nav'>
      <li><a href = 'first'> Теплица </a></li>
      <li><a href = 'second'> услуга 2 </a></li>
      <li><a href = 'third'> услуга 3 </a></li>
      <li><a href = 'fourth'> услуга 4 </a></li>
      <li><a href = 'fivth'> услуга 5 </a></li>
    </ul>
  </header>

  <div class = logo> <h1> Пример текста </h1></div>
  <h2 id = 'first'> Предоставление услуг </h2>
  <h2 id = 'second'> Предоставление услуг </h2>
  <h2 id = 'third'> Предоставление услуг </h2>
  <h2 id = 'fourth'> Предоставление услуг </h2>
  <h2 id = 'fivth'> Предоставление услуг </h2>

  <script src="script.js"></script>
  <script src="https://replit.com/public/js/replit-badge.js" theme="blue" defer></script>
  <div> </div>
</body>

</html>
