<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title> Кейс №8 Теплицы </title>
  <link href="style.css" rel="stylesheet" type="text/css"/>
</head>

<body>
  <header>
    <ul class = 'nav'>
      <li><a href = '/home'> Теплица </a></li>
      <li><a href = '/user'> График </a></li>
      <li><a href = '/history'> что-то </a></li>
      <li><a href = '#fourth'> что-то </a></li>
      <li><a href = '#fifth'> что-то </a></li>
    </ul>
  </header>

  <div class = logo>
    <h1> Кейс №8. Работа по теплицам </h1>
  </div>

  <h2 id = 'first'> что-то </h2>
  <h2 id = 'second'> что-то </h2>
  <h2 id = 'third'> что-то </h2>
  <h2 id = 'fourth'> что-то </h2>
  <h2 id = 'fifth'> что-то </h2>
</body>

</html>
