{% extends 'base.html' %}
{% block dataentry_block %}
<div class="registration-cssave">
    <form method="post">
        <h3 class="text-center"> Пределы температуры и влажности </h3>
        <div class="form-group">
            <input class="form-control item" type="number" name="temp in tepl" minlength="6" id="<Температура в теплице" placeholder="Температура в теплице:" required>
        </div>
        <div class="form-group">
            <input class="form-control item" type="number" name="humidification in tepl" minlength="6" id="H" placeholder="Влажность в теплице" required>
        </div>
        <div class="form-group">
            <input class="form-control item" type="number" name="humidification in tepl" minlength="6" id="H" placeholder="Влажность почвы в теплице" required>
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-block create-account" type="submit"> Указать </button>
        </div>
    </form>
</div>
{% endblock %}
